.panel-container{
    width:100%;
    height:100%;
    padding:30px 50px;
    box-sizing:border-box;
    min-width: 480px;
}

.filter-form, .insert-form{
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding:0;
    margin:0;
    box-shadow:2px 2px 4px 1px rgba(0,0,0,0.1);
    position:relative;
    overflow:hidden;
}

.filter-option{
    display:flex;
    width:100%;
    padding:30px;
    justify-content:space-between;
    align-items: center;
    margin-bottom:20px;
    box-sizing:border-box;
    padding-bottom: 50px;
}

.filter-head, .insert-head{
    height:30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    color:white;
}

.filter-head{
    background: linear-gradient(to right, rgb(6, 182, 212), rgb(59, 130, 246));
}

.filter-form .button-grp{
    position:absolute;
    right:20px;
    bottom:20px;
    display:flex;
    width:400px;
    justify-content: space-between;
    align-items: center;
}

.filter-form .button-grp button{
    display:block;
    padding:2px 20px;
    text-align:center;
    background-color:cornflowerblue;
    border:1px solid transparent;
    border-radius: 3px;
    color:white;
    transition: background-color 0.5s;
}

.filter-form .button-grp button:hover{
    background-color:royalblue;
}

.display-form{
    margin:20px 0;
}

.display-form label{
    margin: 0 20px;
}

.result-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:15px 0;
}

.result-container #insert-button{
    background-color:darkseagreen;
    color: white;
}

.result-container #insert-button:hover{
    background-color: darkgreen;
}

.insert-head{
    background: linear-gradient(to right, rgb(49,213,190), rgb(238,238,142));
}

.insert-option{
    display:flex;
    width:100%;
    padding:20px 30px;
    padding-bottom: 60px;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
}

.insert-option input{
    width:100px;
}

.insert-form .button-grp{
    position:absolute;
    right:20px;
    bottom:20px;
    width:200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#result-table{
    border-collapse:collapse;
    width:100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top:20px;
}

#result-table thead, tbody{
    border:1px solid rgb(209,213,219);
}

#result-table thead{
    background-color:rgb(226,232,240);
    text-align:left;
    color: rgb(41,43,56);
}

#result-table th{
    padding: 5px 10px;
}

#result-table td{
    padding: 3px 10px;
}

#result-table tbody tr:nth-child(odd){
    background-color:white;
}

#result-table tbody tr:nth-child(even){
    background-color: rgb(241,245,249);
}

.table-button-grp button, .result-container button, .button-grp button{
    padding:2px 15px;
    border:1px solid transparent;
    border-radius: 3px;
    transition: background-color 0.5s;
}

.table-button-grp #edit-button, .confirm-button{
    background-color: cornflowerblue;
    color:white;
    margin-right: 15px;
}

.table-button-grp #edit-button:hover, .confirm-button:hover{
    background-color: royalblue;
}

.table-button-grp #delete-button, .cancel-button{
    background-color: salmon;
    color:white;
}

.table-button-grp #delete-button:hover, .cancel-button:hover{
    background-color: rgb(242, 78, 60);
}